/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* DO NOT DELETE THESE TAILWIND IMPORTS, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */

/* TT Ramillas Font */
@font-face {
  font-family: 'TT Ramillas';
  src: url('/fonts/TT-Ramillas-Regular.woff2') format('woff2'),
       url('/fonts/TT-Ramillas-Regular.woff') format('woff'),
       url('/fonts/TT-Ramillas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Ramillas';
  src: url('/fonts/TT-Ramillas-Bold.woff2') format('woff2'),
       url('/fonts/TT-Ramillas-Bold.woff') format('woff'),
       url('/fonts/TT-Ramillas-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Background Animation Styles */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(100px, -100px) scale(1.2);
  }
  50% {
    transform: translate(-80px, 80px) scale(0.9);
  }
  75% {
    transform: translate(60px, 120px) scale(1.1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes blob-slow {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(150px, 100px) scale(1.3);
  }
  66% {
    transform: translate(-100px, -80px) scale(0.8);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 20s infinite ease-in-out;
  will-change: transform;
}

.animate-blob-slow {
  animation: blob-slow 30s infinite ease-in-out;
  will-change: transform;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-3000 {
  animation-delay: 3s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animation-delay-6000 {
  animation-delay: 6s;
}